@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap");

:root {
  --soft-blue: hsl(215, 51%, 70%);
  --cyan: hsl(178, 100%, 50%);

  --very-dark-blue-main-bg: hsl(217, 54%, 11%);
  --very-dark-blue-card-bg: hsl(216, 50%, 16%);
  --very-dark-blue-line: hsl(215, 32%, 27%);
  --white: hsl(0, 0%, 100%);
}

* {
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-family: "Outfit", sans-serif;
  /* color: white; */
}

body {
  background-color: var(--very-dark-blue-main-bg);
}

.container {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  max-width: 300px;
  background-color: var(--very-dark-blue-card-bg);
  padding: 20px;
  border-radius: 10px;
}

.cardImage img {
  width: 100%;
  border-radius: 10px;
}

.cardBody {
  margin-top: 20px;
}

.cardTitle {
  margin-bottom: 20px;
  color: white;
}

.cardInfo {
  color: var(--soft-blue);
}

.cardPriceAndTime {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  color: var(--soft-blue);
}

.creatorDetails {
  margin-top: 10px;
  display: flex;
  align-items: center;
  color: white;
  /* justify-content: space-between; */
}

.creatorDetails img {
  width: 30px;
  height: 30px;
  border: 1px solid white;
  border-radius: 50%;
}

.creationOf {
  color: var(--soft-blue);
  margin-left: 20px;
  margin-right: 5px;
}

.price {
  color: var(--cyan);
}
.line {
  margin: 20px 0;
  background-color: var(--very-dark-blue-line);
  height: 1px;
}
